<section class="advantages">
    <img 
        src="../img/desk.png" 
        alt="image of desk with bulgarian pepper" 
        class="advantages__desk"
    >
    <h3 class="advantages__title with-title-borders">
        просто и вкусно <br>
        ежедневно
    </h3>
    <div class="advantages__cards">
        <div class="advantages__item">
            <img 
                src="../img/advantages-hat.png" 
                alt="hat image" 
                class="advantages__item_img"
            >
            <span class="advantages__item_text">
                36 режимов, вкл. суп, пар,
                Выпечку, Cу-вид и др.
                Возможность 
                Настройки t° И времени
            </span>
        </div>
        <div class="advantages__item">
            <img 
                src="../img/advantages-time.png" 
                alt="timer image" 
                class="advantages__item_img"
            >
            <span class="advantages__item_text">
                Отложенный старт:
                все готово тогда, 
                когда вам нужно.
            </span>
        </div>
        <div class="advantages__item">
            <img 
                src="../img/advantages-hand.png" 
                alt="hand image" 
                class="advantages__item_img"
            >
            <span class="advantages__item_text">
                сенсорный экран
            </span>
        </div>
        <div class="advantages__item">
            <img 
                src="../img/advantages-drop.png" 
                alt="drop of water image" 
                class="advantages__item_img"
            >
            <span class="advantages__item_text">
                Функция самоочистки: 
                дополнительная 
                насадка на лопатку.
            </span>
        </div>
        <div class="advantages__item">
            <img 
                src="../img/advantages-book.png" 
                alt="recipe book image" 
                class="advantages__item_img"
            >
            <span class="advantages__item_text">
                79 вкуснейших
                рецептов
            </span>
        </div>
    </div>
    <button class="advantages__btn">
        смотреть
        <span class="advantages__btn-icon"></span>
    </button>
</section>