<section class="preview">
    <img
        src="../img/tefal-title.png"
        alt="tefal multicook logo"
        class="preview__logo"
    >
    <h3 class="preview__title with-title-borders">
        умная технология перемешивания
        и 3D индукционный нагрев
    </h3>

    <div class="preview__dish-list">
        <img
            src="../img/multicook-system.png" 
            alt="tefal multicook inside system"
            class="preview__dish preview__dish--inside"
        >
        <img 
            src="../img/multicook.png" 
            alt="tefal multicook" 
            class="preview__dish preview__dish--multicook"
        >
        <img 
            src="../img/breakfast-dish.png" 
            alt="breakfast example dish" class="preview__dish preview__dish--breakfast"
        >
        <img 
            src="../img/stew-dish.png" 
            alt="stew example dish" 
            class="preview__dish preview__dish--stew"
        >
        <img 
            src="../img/main-dish.png" 
            alt="diner example dish" 
            class="preview__dish preview__dish--diner"
        >
    </div>
</section>