<section class="programs">
    <h3 class="programs__title">
        Программы
    </h3>
    <div class="programs__container">
        <div class="programs__text_box programs__text_box--automatically">
            <h4 class="programs__text_caption">
                Программы с <br>
                автоматическим <br>
                перемешиванием
            </h4>
            <span class="programs__text">
                Предусмотрено в программах, 
                где приготовление происходит 
                преимущественно перемешиванием: 
                каша, тушение, ризотто, варенье. 
            </span>
        </div>
        <div class="programs__text_box programs__text_box--stir">
            <h4 class="programs__text_caption">
                Программы без <br>
                перемешивания/ <br>
                ручной режим
            </h4>
            <span class="programs__text">
                По умолчанию функция перемешивания 
                отсутствует, но может быть принудительно 
                включена пользователем. Вращение лопатки 
                можно принудительно выключить/включить 
                заново во время работы программ.
            </span>
        </div>
        <div class="programs__text_box programs__text_box--without-spoon">
            <h4 class="programs__text_caption">
                Без лопатки
            </h4>
            <span class="programs__text">
                Если лопатку (все элементы 
                конструкции) не устанавливать, 
                прибор будет работать без изменений 
                в соответствии с указанными 
                программами. Но не ждите обычного
                вкуса: благодаря циркуляции воздуха 
                сферическая чаша создает эффект 
                традиционной печи, делая ингредиенты
                сочными, а блюда — насыщенными.
            </span>
        </div>
    </div>
</section>