<section class="recipe">
    <h3 class="recipe__title with-title-borders">
        Большое количество <br>
        вкусных рецептов
    </h3>
    <p class="recipe__text">
        От закусок до десертов, Multicook&Stir IH   <br>
        предлагает бесконечные возможности приготовления 
        вкусных блюд, которых легко достичь в кратчайшие сроки.
    </p>
    <div class="recipe__container">
        <div class="recipe__item">
            <img 
                src="../img/risotto.png" 
                alt="image of risotto" 
                class="recipe__item_img"
            >
            <div class="recipe__item_text_box">
                <span class="recipe__item_text">
                    ризотто
                </span>
                <a href="" class="recipe__item_link">
                    рецепт
                </a>
            </div>
        </div>
        <div class="recipe__item">
            <img 
                src="../img/oatmeal.png" 
                alt="image of oatmeal" 
                class="recipe__item_img"
            >
            <div class="recipe__item_text_box">
                <span class="recipe__item_text">
                    овсянка
                </span>
                <a href="" class="recipe__item_link">
                    рецепт
                </a>
            </div>
        </div>
        <div class="recipe__item">
            <img 
                src="../img/jam.png" 
                alt="image of jam" 
                class="recipe__item_img"
            >
            <div class="recipe__item_text_box">
                <span class="recipe__item_text">
                    джем
                </span>
                <a href="" class="recipe__item_link">
                    рецепт
                </a>
            </div>
        </div>
        <div class="recipe__item">
            <img 
                src="../img/bluberry-pie.png" 
                alt="image of bluberry pie" 
                class="recipe__item_img"
            >
            <div class="recipe__item_text_box">
                <span class="recipe__item_text">
                    Пирог с черникой
                </span>
                <a href="" class="recipe__item_link">
                    рецепт
                </a>
            </div>
        </div>
        <div class="recipe__item new">
            <img 
                src="../img/georgian-cuisine.png" 
                alt="image of georgian dish" 
                class="recipe__item_img"
            >
            <div class="recipe__item_text_box">
                <span class="recipe__item_text">
                    грузинские блюда
                </span>
                <a href="" class="recipe__item_link"></a>
            </div>
        </div>
    </div>
    <button class="recipe__btn">
        Скачать книгу
    </button>
</section>