<div class="slider">
    <img 
        src="../img/slider.png" 
        alt="slider with photo of tefal multicook system" class="slider__img"
    >
    <!-- TODO: place for slider -->
    <div class="slider__text">
        <h4 class="slider__title">
            3D Индукционная технология
        </h4>
        <span class="slider__description">
            Точный контроль температуры и
            равномерное распределение <br>
            Нагрева чаши благодаря сферической <br>
            форме гарантируют правильное <br>
            приготовление блюд раскрывая их <br>
            лучшие Вкусовые качества
        </span>
    </div>
</div>