<section class="stir">
    <h3 class="tefal-title with-title-borders">
        забудьте о хлопотах <br>
        с перемешиванием
    </h3>
    <p class="stir__subtitle">
        Умная лопатка перемешает все за вас
    </p>
    <div class="stir__content">
        <div class="stir__content_text">
            <div class="stir__text_box">
                <span class="stir__circle">1</span>
                <span class="stir__text">
                    Лопатка работает только при 
                    закрытой крышке прибора.
                </span>
            </div>
            <div class="stir__text_box">
                <span class="stir__circle">2</span>
                <span class="stir__text">
                    Вращение происходит благодаря 
                    встроенному в крышку мотору.
                </span>
            </div>
            <div class="stir__text_box">
                <span class="stir__circle">3</span>
                <span class="stir__text">
                    Лопатку и чашу можно мыть в 
                    посудомоечной машине.
                </span>
            </div>
            <div class="stir__text_box">
                <span class="stir__circle">4</span>
                <span class="stir__text">
                    Все детали безопасны для 
                    использования при высоких 
                    температурах.
                </span>
            </div>
        </div>

        <div class="stir__img_content">
            <span class="stir__circle stir__circle--spoon">1</span>
            <span class="stir__circle stir__circle--cover">2</span>
            <span class="stir__circle stir__circle--wash">3</span>
            <span class="stir__circle stir__circle--multicook">4</span>
            <img 
                src="../img/multicook-details.png" 
                alt="tefal multicook equipment" 
                class="stir__img"
            >
        </div>
    </div>
</section>