<section class="technologies">
    <h3 class="technologies__title with-title-borders">
        лучшие традиции<br />
        в новом поколении
    </h3>
    <p class="technologies__subtitle">
        Вкус, которым вам хочется поделиться
    </p>
    <div class="technologies__content">
        <img 
            src="../img/slider.png" 
            alt="slider with photo of tefal multicook system" class="technologies__slider"
        >
        <div class="technologies__text_box">
            <h4 class="technologies__text_caption">
                3D Индукционная технология
            </h4>
            <span class="technologies__text">
                Точный контроль температуры и
                равномерное распределение <br>
                Нагрева чаши благодаря сферической <br>
                форме гарантируют правильное <br>
                приготовление блюд раскрывая их <br>
                лучшие Вкусовые качества
            </span>
        </div>
    </div>
</section>