.advantages {
    padding: 30px 0 0 0;
    background-color: $advantages-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 70px;

    &__desk {
        position: absolute;
        top: -180px;
    }

    &__list {
        display: flex;
        justify-content: center;
        padding-top: 110px;
        padding-bottom: 80px;
        z-index: 2;
    }

    &__item {
        width: 238px;
        height: 297px;
        border-radius: 6px;
        background-color: #0000008f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__item_img {
        margin: auto;
    }

    &__item_text {
        color: $white-color;
        font-size: 16px;
        text-transform: uppercase;
        height: 80px;
        padding: 5px 13px;
    }

    &__btn {
        position: relative;
        color: $white-color;
        font-size: 19px;
        text-transform: uppercase;
        border-radius: 7px;
        background-color: $red-color-text;
        border: none;
        min-width: 162px;
        padding: 3px 10px 3px;
        box-sizing: border-box;
        margin: 0 auto;
        font-family: $main-font-light;
        text-align: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 65px;
        cursor: pointer;
    }

    &__btn-icon {
        box-sizing: border-box;
        height: 18px;
        width: 18px;
        border: 1px solid $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        margin-left: 10px;

        &:after {
            content: '';
            position: absolute;
            left: 6px;
            border: 4px solid transparent;
            border-left: 7px solid $white-color;
        }
    }
}

@media screen and (max-width: 1360px) {
    .advantages {
        &__item_img {
            width: 40%;
        }

        &__item {
            padding: 5px 0;
            box-sizing: border-box;
        }

        &__item_text {
            font-size: 14px;
        }
    }
}


@media screen and (max-width: 1320px) {
    .advantages__desk {
        top: -216px;
    }
}

@media screen and (max-width: 1200px) {
    .advantages {
        &__desk {
            top: -216px;
            left: -53px;
        }

        &__item {
            width: 200px;
            height: 270px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .advantages {
        margin-top: 40px;

        &__desk {
            width: 400px;
            top: -130px;
            left: -70px;
        }

        &__list {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &__item {
            width: 18%;
            height: 250px;
        }
        &__item_text {
            font-size: 13px;
        }
        &__btn {
            margin-bottom: 60px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .advantages {
        margin-top: 40px;

        &__desk {
            width: 400px;
            top: -130px;
            left: -70px;
        }

        &__list {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &__item {
            width: 18%;
            height: 250px;
        }
        &__item_text {
            font-size: 13px;
        }
        &__btn {
            margin-bottom: 60px;
        }
    }
}
@media screen and (max-width: 860px) {
    .advantages {
        margin-top: 30px;

        &__desk {
            width: 360px;
            top: -130px;
            left: -70px;
        }

        &__list {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &__item {
            width: 18%;
            height: 240px;
        }
        &__item_text {
            font-size: 11px;
            line-height: 14px;
            height: 100px;
        }
        &__btn {
            margin-bottom: 40px;
        }
    }
}