@font-face {
    font-family: DINPro;
    src: url('../../fonts/DiNPro/DINPro/DINPro.eot'),
        url('../../fonts/DiNPro/DiNPro/DINPro.ttf'),
        url('../../fonts/DiNPro/DiNPro/DINPro.woff');
}

@font-face {
    font-family: DINPro-medium;
    src: url('../../fonts/DiNPro/DINPro-medium/DINPro-Medium.eot'),
        url('../../fonts/DiNPro/DINPro-medium/DINPro-Medium.ttf'),
        url('../../fonts/DiNPro/DINPro-medium/DINPro-Medium.woff');
}

@font-face {
    font-family: DINPro-bold;
    src: url('../../fonts/DiNPro/DINPro-bold/DINPro-Bold.eot'),
        url('../../fonts/DiNPro/DINPro-bold/DINPro-Bold.ttf'),
        url('../../fonts/DiNPro/DINPro-bold/DINPro-Bold.woff');
}

@font-face {
    font-family: DINPro-light;
    src: url('../../fonts/DiNPro/DINPro-light/DINPro-Light.eot'),
        url('../../fonts/DiNPro/DINPro-light/DINPro-Light.ttf'),
        url('../../fonts/DiNPro//DINPro-light/DINPro-Light.woff');
}

@font-face {
    font-family: montserrat;
    src: url('../../fonts/montserrat/Montserrat-SemiBold.eot'),
        url('../../fonts/montserrat/Montserrat-SemiBold.ttf'),
        url('../../fonts/montserrat/Montserrat-SemiBold.woff');
}