.programs {
    background-color: $white-color;
    padding: 20px 0 0 0;

    &__title {
        color: $red-color-text;
        font-size: 51px;
        text-transform: uppercase;
        text-align: center;
        font-family: $main-font-medium;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 47px 100px 0 100px;
    }

    &__text_caption {
        color: $red-color-text;
        font-size: 29px;
        font-family: $main-font-medium;
        text-transform: uppercase;
        min-height: 85px;
    }

    &__text {
        color: #3b3b3b;
        font-size: 17px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        z-index: 3;
        padding-top: 45px;
    }

    &__text_box {
        &--automatically {
            width: 354px;
        }
        &--stir {
            width: 430px;
        }
        &--without-spoon {
            width: 390px;
        }
    }
}

@media screen and (max-width: 1360px) {
    .programs  {
        &__title {
            font-size: 48px;
        }

        &__container {
            padding: 47px 50px 0 50px;
        }
    }
}

@media screen and (max-width: 1320px) {
    .programs__text_box--automatically {
        width: 334px;
    }

    .programs__text_box--stir {
        width: 400px;
    }

    .programs__text_box--without-spoon {
        width: 350px;
    }
}

@media screen and (max-width: 1200px) {
    .programs {
        &__title {
            font-size: 43px;
        }

        &__text_box--automatically {
            width: 300px;
        }

        &__text_box--stir {
            width: 370px;
        }

        &__text_box--without-spoon {
            width: 300px;
        }

        &__container {
            padding: 47px 20px 0;
        }
    }
}

@media screen and (max-width: 1120px) {
    .programs {
        &__container {
            justify-content: space-around;
        }
        &__text_box {
            width: 30%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .programs {
        &__title {
            font-size: 36px;
        }
        &__container {
            padding-top: 30px;
        }
        &__text_caption {
            font-size: 22px;
            line-height: 24px;
            min-height: 73px;
        }
        &__text {
            padding-top: 20px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}
@media screen and (max-width: 860px) {
    .programs {
        &__text {
            font-size: 12px;
            line-height: 16px;
        }
        &__text_caption {
            font-size: 20px;
            line-height: 22px;
            min-height: 66px;
        }
    }
}