.self-clean {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../img/self-clean-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;

    &__content {
        display: flex;
        padding: 110px 150px;
        align-items: center;
    }

    &__text_box {
        padding-right: 70px;
        box-sizing: border-box;
    }

    &__text_caption {
        font-size: 29px;
        text-transform: uppercase;
        color: $red-color-text;
        font-family: $main-font-bold;
        padding-bottom: 40px;
    }

    &__text {
        color: $white-color;
        font-size: 29px;
        text-transform: uppercase;
        list-style: none;
        font-family: $main-font-light;
        letter-spacing: 0.5px;
        line-height: 29px;  
    }
}

@media screen and (max-width: 1360px) {
    .self-clean {

        &__content {
            padding: 90px 150px;
        }

        &__img {
            width: 390px;
        }

        &__text_caption {
            font-size: 26px;
            padding-bottom: 35px;
        }

        &__text {
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .self-clean {
        &__img {
            width: 350px;
        }

        &__content {
            padding: 90px 120px;
        }

        &__text_caption {
            font-size: 23px;
            padding-bottom: 30px;
        }

        &__text {
            font-size: 24px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .self-clean {
        &__text {
            font-size: 16px;
            line-height: 24px;
        }
        &__content {
            padding: 50px 100px;
        }
    }
}
@media screen and (max-width: 860px) {
    .self-clean {
        &__img {
            width: 220px;
        }
        &__text_box {
            padding-right: 30px;
        }
        &__text {
            font-size: 13px;
            line-height: 22px;
        }
        &__text_caption {
            font-size: 20px;
            padding-bottom: 16px;
        }
        &__content {
            padding: 40px 80px;
        }
    }
}
@media screen and (max-width: 860px) {
    .self-clean {
        &__content {
            padding: 30px;
        }
        &__img {
            width: 190px;
        }
        &__text_caption {
            font-size: 18px;
            padding-bottom: 10px;
        }
        &__text {
            font-size: 12px;
            line-height: 20px;
        }
    }
}
@media screen and (max-width: 320px) {
    .self-clean {
        padding-top: 28px;

        &__content {
            padding: 14px;
            flex-direction: column-reverse;
        }
        &__img {
            width: 160px;
            margin-bottom: 20px;
        }
        &__text_caption {
            font-size: 16px;
            padding-bottom: 10px;
        }
        &__text {
            font-size: 12px;
            line-height: 20px;
        }
    }
}