.stir {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../img/stir-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0 60px 0;

    &__subtitle {
        color: $red-color-text;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        font-family: $main-font-bold;
        padding-top: 35px;
    }

    &__content {
        display: flex;
        padding-top: 54px;
    }

    &__circle {
        position: absolute;
        left: -33px;
        top: 5px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $red-color-text;
        background-color: $white-color;

        &:nth-of-type(2n - 1) {
            color: $white-color;
            background-color: $red-color-text;
        }

        &--spoon {
            top: -70px;
            left: 247px;        
        }
        &--cover {
            left: 210px;
            top: 64px;
        }
        &--wash {
            right: 41px;
            left: auto;
            top: -20px;
        }
        &--multicook {
            right: -7px;
            left: auto;
            bottom: 125px;
            top: auto;
        }
    }

    &__text_box {
        width: 570px;
        padding-bottom: 30px;
        position: relative;
        color: $white-color;

        .stir__circle {
            color: $red-color-text;
            background-color: $white-color;
        }

        &:nth-of-type(2n - 1) {
            color: $red-color-text;

            .stir__circle {
                color: $white-color;   
                background-color: $red-color-text;    
            }
        }
    }

    &__text {
        font-size: 29px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: $main-font-light;
        letter-spacing: 0.5px;
        line-height: 31px;
    }

    &__img_content {
        position: relative;
    }

    &__img {
        margin: -65px 0 0 142px;
    }
}

@media screen and (max-width: 1360px) {
    .stir {
        &__subtitle {
            font-size: 21px;
            padding-top: 30px;
        }

        &__text_box {
            width: 470px;
        }

        &__text {
            font-size: 24px;
        }

        &__img {
            margin: -65px 0 0 100px;
        }

        &__text_box {
            width: 470px;
        }

        &__circle--cover {
            left: 164px;
            top: 78px;
        }

        &__circle--multicook {
            right: 15px;
            bottom: 117px;
        }
    }
}

@media screen and (max-width: 1320px) {
    .stir {
        background-size: auto;
    }
}

@media screen and (max-width: 1200px) {
    .stir {
        &__subtitle {
            font-size: 18px;
            padding-top: 26px;
        }
    }
}

@media screen and (max-width: 1120px) {
    .stir {
        &__text {
            font-size: 20px;
        }

        &__text_box {
            width: 434px;
        } 

        &__circle {
            width: 22px;
            height: 22px;
            font-size: 13px;
        }
    }
}
@media screen and (max-width: 860px) {
    .stir {
        &__img {
            width: 250px;
            margin: 0px 0 0 10px;
        }
        &__circle {
            &--spoon {
                left: 100px;
                top: 0px;
            }
            &--cover {
                left: 64px;
                top: 108px;
            }
            &--wash {
                top: 40px;
            }
        }
        &__text_box {
            width: 320px;
        }
        &__text {
            font-size: 16px;
            line-height: 22px;
        }
        &__text_box {
            padding-bottom: 20px;
        }
        &__content_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}