.technologies {
    background-image: url('../../img/technologies-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 34px 0 93px 0;
    line-height: 62px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__subtitle {
        color: $red-color-text;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;  
        padding-top: 16px;
        font-family: $main-font-medium;
    }
}

@media screen and (max-width: 1360px) {
    .technologies__subtitle {
        font-size: 21px;
    }
}

@media screen and (max-width: 1200px) {
    .technologies__subtitle {
        font-size: 18px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .technologies {
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 860px) {
    .technologies {
        padding-top: 40px;

        &__subtitle {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 640px) {
    .technologies {
        padding-top: 30px;

        &__subtitle {
            font-size: 14px;
            line-height: 54px;
        }
    }
}

@media screen and (max-width: 320px) {
    .technologies {
        padding-bottom: 30px;
    }
}