/* fonts */

$main-font: DINPro;
$main-font-medium: DINPro-medium;
$main-font-bold: DINPro-bold;
$main-font-light: DINPro-light;
$new-plug-font: montserrat;
/* colors */

$white-color: #fff;
$black-color: #0000;
$red-color: #e1142b;
$red-color-text: #e1172b;
$advantages-color: #ac7259;
$light-black-color: #3b3b3b;
$new-circle-color: #ff0000;
